.container{
    font-size: 13px;
    padding: 100px
}
.form-control{
    width: 50%;
}
 input {
    font-size: 13px;
}
select option{
    font-size: 13px;
}
.btn{
    width: 50%;
    font-size: 13px;
}
.errorCls{
    color: red;
}