<!-- <nav [class.sidebar-open]="isOpen">
    <div class="sidebar-toggle" (click)="toggleSidebar()">
        <i class="fa fa-bars"></i>
    </div>
    <ul>
      <i class="fa fa-times closebtn" (click)="closeNav()"></i>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/trash" routerLinkActive="active">Trash</a></li>
    </ul>
  </nav> -->

  <div class="wrapper">
    <div class="sidebar">
        <!-- <h2><i class="fa fa-bars"></i></h2> -->
        <ul>
            <li><a routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
            <li><a routerLink="/trash" routerLinkActive="active"><i class="fa fa-trash"></i> Trash</a></li>
        </ul> 
    </div>